#
# The configuration properties for the Galasa Ecosystem
#
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ .Release.Name }}-config
data:
#
#
# The URI to the Bootstrap properties
  bootstrap: "http://{{ .Release.Name }}-api:8080/bootstrap"
#
#
# The maximum running number of automation engines the Engine Controller will start
  max_engines: "4"
#
# The label for the engine pods and the prefix of the engine names
  engine_label: "{{ .Release.Name }}-k8s-standard-engine"
#
  engine_image: "harbor-cicsk8s.hursley.ibm.com/galasadev/galasa-boot-embedded-amd64:{{ .Values.galasaVersion }}"
  node_arch: "amd64"
#  node_arch: ""
#  node_preferred_affinity: "beta.kubernetes.io/arch=s390x"
#  node_preferred_affinity: ""
#  scheduled_requestors: ""
#  engine_capabilities: ""
#  engine_memory: "200"
#  engine_memory_request: "300"
#  engine_memory_limit: "300"
  run_poll: "5"
  run_poll_recheck: "2"

