#
# Copyright contributors to the Galasa project 
#
apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: {{ .Release.Name }}-ras
  labels:
    name: {{ .Release.Name }}-ras
spec:
  serviceName: {{ .Release.Name }}-ras
  replicas: 1
  selector:
    matchLabels:
      app: {{ .Release.Name }}-ras
  template:
    metadata:
      name: {{ .Release.Name }}-ras
      labels:
        app: {{ .Release.Name }}-ras
    spec:
      nodeSelector:
        kubernetes.io/arch: {{ .Values.architecture }}
{{ toYaml .Values.nodeSelectors | indent 8 }}
      containers:
      - name: couchdb
        image: {{ .Values.couchdbImage }}
        imagePullPolicy: IfNotPresent
        ports:
        - containerPort: 5984
          name: couchdbport
        - containerPort: 4369
          name: erlangbport
        - containerPort: 9100
        livenessProbe:
          httpGet:
            path: /
            port: 5984
          initialDelaySeconds: 60
          periodSeconds: 60
        volumeMounts:
        - mountPath: /opt/couchdb/data
          name: data
      volumes:
      - name: data
  volumeClaimTemplates:
  - metadata:
      name: data
    spec:
      {{- if .Values.storageClass }}
      storageClassName: {{ .Values.storageClass }}
      {{- end }}
      accessModes:
        - "ReadWriteOnce"
      resources:
        requests:
          storage: {{ .Values.couchdbDiskSize }}
