{{- $user := randAlphaNum 32 }}
{{- $password := randAlphaNum 32 }}
{{- $couchdbSecretName := (printf "%s-couchdb-secret" .Release.Name )}}

{{- $existingSecret := (lookup "v1" "Secret" .Release.Namespace $couchdbSecretName) }}
{{- if $existingSecret }}
{{- $user = printf (index $existingSecret.data "COUCHDB_USER") | b64dec }}
{{- $password = printf (index $existingSecret.data "COUCHDB_PASSWORD") | b64dec }}
{{- end -}}


apiVersion: v1
kind: Secret
metadata:
  name: {{ $couchdbSecretName }}
type: Opaque
stringData:
  COUCHDB_USER: "{{$user}}"
  COUCHDB_PASSWORD: "{{$password}}"
  GALASA_RAS_TOKEN: "{{ printf "%s:%s" $user $password | b64enc }}"