#
# Copyright contributors to the Galasa project
#
# SPDX-License-Identifier: EPL-2.0
#

apiVersion: v1
kind: Secret
metadata:
  name: {{ .Release.Name }}-dex-config
type: Opaque
stringData:
  config.yaml: |-
    {{ tpl (.Values.dex.config | toYaml) . | nindent 4 }}
    {{- if not (hasKey .Values.dex.config "storage") }}
    storage:
      type: etcd
      config:
        endpoints:
          - http://{{ .Release.Name }}-etcd:2379
    {{- end }}
