#
# Copyright contributors to the Galasa project
#
# SPDX-License-Identifier: EPL-2.0
#

apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: {{ .Release.Name }}-dex
  name: {{ .Release.Name }}-dex
spec:
  replicas: 1
  selector:
    matchLabels:
      app: {{ .Release.Name }}-dex
  template:
    metadata:
      labels:
        app: {{ .Release.Name }}-dex

    spec:
      serviceAccountName: galasa
      initContainers:
      - name: wait-for-etcd
        image: {{ .Values.kubectlImage }}
        imagePullPolicy: {{ .Values.pullPolicy }}
        command:
          - kubectl
        args:
          - wait
          - pods
          - -l=app={{ .Release.Name }}-etcd
          - --for=condition=Ready
          - --timeout=90s
      containers:
      - image: {{ .Values.dexImage }}
        imagePullPolicy: {{ .Values.pullPolicy }}
        name: dex
        args:
          - dex
          - serve
          - --web-http-addr
          - 0.0.0.0:5556
          - --grpc-addr
          - 0.0.0.0:5557
          - --telemetry-addr
          - 0.0.0.0:5558
          - /etc/dex/config.yaml

        ports:
        - name: http
          containerPort: 5556
          protocol: TCP
        - name: grpc
          containerPort: 5557
          protocol: TCP
        - name: telemetry
          containerPort: 5558
          protocol: TCP

        livenessProbe:
          httpGet:
            path: /healthz/live
            port: telemetry
        readinessProbe:
          httpGet:
            path: /healthz/ready
            port: telemetry

        volumeMounts:
        - name: config
          mountPath: /etc/dex
          readOnly: true

      volumes:
      - name: config
        configMap:
          name: {{ .Release.Name }}-dex-config
          items:
          - key: config.yaml
            path: config.yaml