#
# Copyright contributors to the Galasa project 
#
apiVersion: v1
kind: Service
metadata:
  name: {{ .Release.Name }}-etcd
  labels:
    app: {{ .Release.Name }}-etcd
  annotations:
    service.alpha.kubernetes.io/tolerate-unready-endpoints: "true"
spec:
  ports:
  - port: 2379
    name: etcd-client
  - port: 2380
    name: etcd-peer
  selector:
    app: {{ .Release.Name }}-etcd
