#
# Copyright contributors to the Galasa project
#
# SPDX-License-Identifier: EPL-2.0
#

apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Release.Name }}-metrics
  labels:
    app: {{ .Release.Name }}-metrics
spec:
  replicas: 1
  strategy:
    type: Recreate
  selector:
    matchLabels:
      app: {{ .Release.Name }}-metrics
  template:
    metadata:
      name: {{ .Release.Name }}-metrics
      labels:
        app: {{ .Release.Name }}-metrics
    spec:
      serviceAccountName: galasa
      nodeSelector:
        kubernetes.io/arch: {{ .Values.architecture }}
        {{- if .Values.nodeSelectors }}
{{ toYaml .Values.nodeSelectors | indent 8 }}
        {{- end }}
      initContainers:
        - name: wait-for-api
          image: {{ .Values.kubectlImage }}
          imagePullPolicy: {{ .Values.pullPolicy }}
          command:
            - kubectl
          args:
            - wait
            - pods
            - -l=app={{ .Release.Name }}-api
            - --for=condition=Ready
            - --timeout=180s
      containers:
      - name: metrics
        image: {{ .Values.galasaRegistry }}/{{ .Values.galasaBootImage }}:{{ .Values.galasaVersion }}
        imagePullPolicy: {{ .Values.pullPolicy }}
        ## 
        ## Provide some guidance to kubernetes on how much memory/cpu this container needs.
        {{- if .Values.metrics }}
        {{- if .Values.metrics.resources }}
        {{- with .Values.metrics.resources }}
        resources: {{- toYaml . | nindent 10 }}
        {{- end }}
        {{- end }}
        {{- end }}
        command: ["java"]
        args: 
        - -jar
        - boot.jar
        - --obr
        - file:galasa.obr
        - --metricserver
        - --trace
        - --no-bootstrap
        env:
        - name: GALASA_EXTRA_BUNDLES
          value: {{ include "framework.extra.bundles" . }}
        - name: GALASA_CONFIG_STORE
          value: etcd:{{ include "cps.url" . }}
        - name: GALASA_DYNAMICSTATUS_STORE
          value: etcd:{{ include "dss.url" . }}
        - name: GALASA_RESULTARCHIVE_STORE
          value: couchdb:http://{{ .Release.Name }}-couchdb:5984
        - name: GALASA_CREDENTIALS_STORE
          value: etcd:{{ include "creds.url" . }}
        - name: GALASA_RAS_TOKEN
          valueFrom:
            secretKeyRef:
              name: {{ .Release.Name }}-couchdb-secret
              key: GALASA_RAS_TOKEN
        ports:
        - containerPort: 9010
          name: metrics
        - containerPort: 9011
          name: health
        livenessProbe:
          httpGet:
            path: /
            port: 9011
          initialDelaySeconds: 5
          periodSeconds: 60
        readinessProbe:
          httpGet:
            path: /metrics
            port: 9010
          initialDelaySeconds: 5
          periodSeconds: 10