#
# Copyright contributors to the Galasa project
#
# SPDX-License-Identifier: EPL-2.0
#

apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Release.Name }}-resource-monitor
  labels:
    galasa-monitor: system
    app: {{ .Release.Name }}-resource-monitor
spec:
  replicas: 1
  strategy:
    type: Recreate
  selector:
    matchLabels:
      app: {{ .Release.Name }}-resource-monitor
  template:
    metadata:
      name: {{ .Release.Name }}-resource-monitor
      labels:
        app: {{ .Release.Name }}-resource-monitor
      annotations:
        rollme: {{ randAlphaNum 5 | quote }}
    spec:
      serviceAccountName: galasa
      nodeSelector:
        kubernetes.io/arch: {{ .Values.architecture }}
        {{- if .Values.nodeSelectors }}
{{ toYaml .Values.nodeSelectors | indent 8 }}
        {{- end }}
      initContainers:
      - name: wait-for-etcd
        image: {{ .Values.kubectlImage }}
        imagePullPolicy: {{ .Values.pullPolicy }}
        command:
          - kubectl
        args:
          - wait
          - pods
          - -l=app={{ .Release.Name }}-etcd
          - --for=condition=Ready
          - --timeout=90s
      - name: wait-for-ras
        image: {{ .Values.kubectlImage }}
        imagePullPolicy: {{ .Values.pullPolicy }}
        command:
          - kubectl
        args:
          - wait
          - pods
          - -l=app={{ .Release.Name }}-ras
          - --for=condition=Ready
          - --timeout=90s
      - name: wait-for-dex
        image: {{ .Values.kubectlImage }}
        imagePullPolicy: {{ .Values.pullPolicy }}
        command:
          - kubectl
        args:
          - wait
          - pods
          - -l=app={{ .Release.Name }}-dex
          - --for=condition=Ready
          - --timeout=90s
      containers:
      - name: resource-monitor
        image: {{ .Values.galasaRegistry }}/{{ .Values.galasaBootImage }}:{{ .Values.galasaVersion }}
        imagePullPolicy: {{ .Values.pullPolicy }}
        ## 
        ## Provide some guidance to kubernetes on how much memory/cpu this container needs.
        {{- if .Values.resourceMonitor }}
        {{- if .Values.resourceMonitor.resources }}
        {{- with .Values.resourceMonitor.resources }}
        resources: {{- toYaml . | nindent 10 }}
        {{- end }}
        {{- end }}
        {{- end }}
        command: ["java"]
        args: 
        - -jar
        - boot.jar
        - --obr
        - file:galasa.obr
        - --resourcemanagement
        - --log4j2-properties-file
        - file:/log4j2.properties
        env:
        - name: NAMESPACE
          valueFrom:
            fieldRef:
              fieldPath: metadata.namespace
        - name: GALASA_EXTRA_BUNDLES
          value: {{ include "framework.extra.bundles" . }}
        - name: GALASA_CONFIG_STORE
          value: etcd:{{ include "cps.url" . }}
        - name: GALASA_DYNAMICSTATUS_STORE
          value: etcd:{{ include "dss.url" . }}
        - name: GALASA_RESULTARCHIVE_STORE
          value: couchdb:http://{{ .Release.Name }}-couchdb:5984
        - name: GALASA_CREDENTIALS_STORE
          value: etcd:{{ include "creds.url" . }}
        - name: GALASA_RAS_TOKEN
          valueFrom:
            secretKeyRef:
              name: {{ .Release.Name }}-couchdb-secret
              key: GALASA_RAS_TOKEN
        - name: GALASA_ENCRYPTION_KEYS_PATH
          value: {{ include "ecosystem.encryption.keys.path" . }}
        - name: GALASA_MONITOR_INCLUDES_GLOB_PATTERNS
          value: "{{ join "," .Values.resourceMonitor.includes }}"
        - name: GALASA_MONITOR_EXCLUDES_GLOB_PATTERNS
          value: "{{ join "," .Values.resourceMonitor.excludes }}"
        {{- if .Values.certificatesConfigMapName }}
        - name: JDK_JAVA_OPTIONS
          value: -Djavax.net.ssl.trustStore=/galasa/certificates/cacerts
        {{- end }}
        ports:
        - containerPort: 9010
          name: metrics
        - containerPort: 9011
          name: health
        livenessProbe:
          httpGet:
            path: /
            port: 9011
          initialDelaySeconds: 5
          periodSeconds: 30
        readinessProbe:
          httpGet:
            path: /
            port: 9011
          initialDelaySeconds: 5
          periodSeconds: 10
        volumeMounts:
        - name: encryption-keys
          mountPath: {{ include "ecosystem.encryption.keys.directory" . }}
          readOnly: true
        - name: log4j2-config
          mountPath: /log4j2.properties
          subPath: log4j2.properties
          readOnly: true
      {{- if .Values.log4jJsonTemplatesConfigMapName }}
        - name: log4j-json-templates
          mountPath: /log4j-config
          readOnly: true
      {{- end }}
      {{- if .Values.certificatesConfigMapName }}
        - name: galasa-cacerts
          mountPath: /galasa/certificates/cacerts
          subPath: cacerts
          readOnly: true
      {{- end }}
      volumes:
      - name: encryption-keys
        secret:
          secretName: {{ include "ecosystem.encryption.keys.secret.name" . }}
      - name: log4j2-config
        configMap:
          name: {{ .Release.Name }}-log4j2-config
      {{- if .Values.log4jJsonTemplatesConfigMapName }}
      - name: log4j-json-templates
        configMap:
          name: {{ .Values.log4jJsonTemplatesConfigMapName | quote }}
      {{- end }}
      {{- if .Values.certificatesConfigMapName }}
      - name: galasa-cacerts
        configMap:
          name: {{ .Release.Name }}-cacerts
      {{- end }}
