#
# Copyright contributors to the Galasa project
#
# SPDX-License-Identifier: EPL-2.0
#

apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Release.Name }}-webui
  labels:
    app: {{ .Release.Name }}-webui
spec:
  replicas: 1
  strategy:
    type: Recreate
  selector:
    matchLabels:
      app: {{ .Release.Name }}-webui
  template:
    metadata:
      name: {{ .Release.Name }}-webui
      labels:
        app: {{ .Release.Name }}-webui
    spec:
      serviceAccountName: galasa
      nodeSelector:
        kubernetes.io/arch: {{ .Values.architecture }}
        {{- if .Values.nodeSelectors }}
{{ toYaml .Values.nodeSelectors | indent 8 }}
        {{- end }}
      initContainers:
        - name: wait-for-api
          image: {{ .Values.kubectlImage }}
          imagePullPolicy: {{ .Values.pullPolicy }}
          command:
            - kubectl
          args:
            - wait
            - pods
            - -l=app={{ .Release.Name }}-api
            - --for=condition=Ready
            - --timeout=240s
      containers:
      - name: webui
        image: {{ .Values.galasaRegistry }}/{{ .Values.galasaWebUiImage }}:{{ .Values.galasaVersion }}
        imagePullPolicy: {{ .Values.pullPolicy }}
        env:
        - name: GALASA_API_SERVER_URL
          value: http://{{ .Release.Name }}-api:8080
        - name: GALASA_WEBUI_HOST_URL
          value: {{ include "ecosystem.host.url" . }}
        - name: GALASA_WEBUI_CLIENT_ID
          value: galasa-webui
        - name: NEXT_PUBLIC_GALASA_SERVICE_NAME  # The variable should have a NEXT_PUBLIC prefix to be used on the client side by Next JS
          value: {{ .Values.galasaServiceName}}
        {{- if .Values.ingress.caCertSecretName }}
        - name: NODE_EXTRA_CA_CERTS
          value: /etc/ssl/certs/cacerts/cacerts.pem
        {{- end }}
        ports:
        - containerPort: 8080
          name: http
        livenessProbe:
          tcpSocket:
            port: 8080
          initialDelaySeconds: 5
          periodSeconds: 60
        readinessProbe:
          tcpSocket:
            port: 8080
          initialDelaySeconds: 5
          periodSeconds: 10
      {{- if .Values.ingress.caCertSecretName }}
        volumeMounts:
          - name: cacert-store
            mountPath: /etc/ssl/certs/cacerts
      volumes:
        - name: cacert-store
          secret:
            secretName: {{ .Values.ingress.caCertSecretName }}
      {{- end }}