#
# Copyright contributors to the Galasa project
#
# SPDX-License-Identifier: EPL-2.0
#

apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Release.Name }}-webui
  labels:
    app: {{ .Release.Name }}-webui
spec:
  replicas: 1
  strategy:
    type: Recreate
  selector:
    matchLabels:
      app: {{ .Release.Name }}-webui
  template:
    metadata:
      name: {{ .Release.Name }}-webui
      labels:
        app: {{ .Release.Name }}-webui
    spec:
      serviceAccountName: galasa
      nodeSelector:
        kubernetes.io/arch: {{ .Values.architecture }}
        {{- if .Values.nodeSelectors }}
{{ toYaml .Values.nodeSelectors | indent 8 }}
        {{- end }}
      initContainers:
        - name: wait-for-dex
          image: {{ .Values.kubectlImage }}
          imagePullPolicy: {{ .Values.pullPolicy }}
          command:
            - kubectl
          args:
            - wait
            - pods
            - -l=app={{ .Release.Name }}-dex
            - --for=condition=Ready
            - --timeout=180s
      containers:
      - name: webui
        image: {{ .Values.galasaRegistry }}/galasa-ui:{{ .Values.galasaVersion }}
        imagePullPolicy: {{ .Values.pullPolicy }}
        env:
        - name: DEX_ISSUER_URL
          value: {{ .Values.dex.config.issuer }}
        - name: DEX_GRPC_HOSTNAME
          value: {{ .Values.dex.config.grpc.addr }}
        - name: WEBUI_HOST_URL
          value: https://{{ .Values.externalHostname }}
        {{- with (first .Values.dex.config.staticClients) }}
        - name: DEX_CLIENT_SECRET
          {{- if .secretEnv }}
          value: $({{ .secretEnv }})
          {{- else }}
          value: {{ .secret }}
          {{- end }}
        {{- end }}
        {{- if .Values.ingress.caCertSecretName }}
        - name: NODE_EXTRA_CA_CERTS
          value: /etc/ssl/certs/cacerts.pem
        {{- end }}
        {{- with .Values.dex.envFrom }}
        envFrom:
          {{- toYaml . | nindent 10 }}
        {{- end }}
        ports:
        - containerPort: 8080
          name: http
        livenessProbe:
          httpGet:
            path: /
            port: 8080
          initialDelaySeconds: 5
          periodSeconds: 60
        readinessProbe:
          httpGet:
            path: /
            port: 8080
          initialDelaySeconds: 5
          periodSeconds: 10
      {{- if .Values.ingress.caCertSecretName }}
        volumeMounts:
          - name: cacert-store
            mountPath: /etc/ssl/certs/cacerts.pem
            subPath: cacerts.pem
      volumes:
        - name: cacert-store
          secret:
            secretName: {{ .Values.ingress.caCertSecretName }}
      {{- end }}