#
# Copyright contributors to the Galasa project 
#
kind: Role
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: galasa-admin
rules:
- apiGroups: [""]
  resources: ["services","configmaps","pods","persistentvolumeclaims"]
  verbs: ["get","create","update","delete","patch","list","watch"]
- apiGroups: ["apps"]
  resources: ["deployments","statefulsets"]
  verbs: ["get","create","update","delete","patch","list","watch"]
- apiGroups: ["batch"]
  resources: ["jobs"]
  verbs: ["get","create","update","delete","patch","list","watch"]
#
#
# For some reason Helm creates a secret for it's installation, not ideal
#
- apiGroups: [""]
  resources: ["secrets"]
  verbs: ["get","create","update","delete","patch","list","watch"]

---

kind: RoleBinding
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: galasa-admin
roleRef:
  kind: Role
  name: galasa-admin
  apiGroup: rbac.authorization.k8s.io
subjects:
- kind: User
  apiGroup: rbac.authorization.k8s.io
  name: ******** a galasa admin user *****